body {
  background-image: url("../style/Stan_Lee.jpg");
  height: 100%;
  background-size: cover;
  background-repeat: none;
  opacity: 0.9;
}

.App {
  text-align: center;
  padding: 5%;
  justify-content: center;
}

.title {
  color: red;
  background-color: rgb(245, 240, 240);
  margin: 2px 0;
  padding: 5px;
  font-weight: bold;
  font-size: 60px;
}

.group {
  margin-top: 15px;
  color: blue;
  background-color: rgb(245, 240, 240);
  padding: 10px 5px 10px 5px;
  font-weight: bold;
  font-size: 30px;
  border-radius: 3px;
}

.right-button {
  float: right;
  cursor: pointer;
}

.list-item {
  display: inline;
  font-size: 20px;
}
